*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

.App .app-input input:focus{
    outline: none;
}

.app-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex: 30%;
}

.app-input button {
    background: whitesmoke;
    padding: 0 1em;
    font-size: 1.5em;
    font-weight: lighter;
    border: 1px solid whitesmoke;
    color: black;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 3px;
}

.app-input input{
    margin-bottom: 1em;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: beige;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 70%;
    padding-top: 3em;
    background-color: whitesmoke;
}

.todo {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 1em;
    padding: 0.3em 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}

.todo .content p{
   margin: 0.5em;
}

.todo .content p:first-child {
    border-bottom: 1px solid beige;
}

.todo button{
    background-color: coral;
    border: 1px solid beige;
    padding: 0.3em 0.5em;
    border-radius: 3px;
}

.done .content{
   text-decoration: line-through;
}

